* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #314755;
    background: -webkit-linear-gradient(to right, #26a0da, #314755);
    background: linear-gradient(to right, #26a0da, #314755);
}

.btn-grad {
    background-image: linear-gradient(to right, #457fca 0%, #5691c8 51%, #457fca 100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    background-color: aliceblue;
    text-decoration: none;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    overflow: hidden;
}

#QRImage {
    max-width: 100%;
    max-height: 100%;
}

.new-row {
    margin-top: 20px;
}

.qrcode-container {
    text-align: center;
}